<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
</head>
<body>
    <h1>View Users</h1>
    <table border="3">
        <tr><th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        </tr>
        {% for a in user %}
        <tr>
            <td>{{a.name}}</td>
            <td>{{a.email}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.address}}</td>
            <td>{{a.city}}</td>
            <td><a href="">Approve</a></td>
            <td><a href="">Reject</a></td>
        </tr>
        {% endfor %}   
</body>
</html>