<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Workers</title>
</head>
<body>
    <h1>View Workers</h1>
    <table border="3">
        <tr><th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Skills</th>
        <th>Experience</th>
        </tr>
        {% for a in worker %}
        <tr>
            <td>{{a.name}}</td>
            <td>{{a.email}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.skills}}</td>
            <td>{{a.expc}}</td>
        </tr>
        {% endfor %}   
</body>
</html>